.dialog {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  padding: 30px;
  top: 200px;
  box-shadow: 5px 5px 10px grey;
  border-radius: 10px;
  background: #eee;
}

div.dialog .dialog-footer {
  position: absolute;
  width: calc(100% - 60px);
  bottom: 30px;
}

div.dialog .dialog-footer .dialog-buttons {
  position: relative;
  float: right;
}

div.dialog .dialog-footer .dialog-buttons button {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  width: 100px;
  height: 40px;
  background: lightblue;
  border: none;
  border-radius: 5px;
  outline: unset;
  font-size: large;
  cursor: pointer;
}

div.dialog .dialog-footer .dialog-buttons button.cancel-button {
  background: lightgrey;
}

div.dialog .dialog-buttons button.active {
  background: #88a;
}