div.form {
  position: relative;
  height: 100%;
}

div.form .form-field {
  margin-bottom: 30px;
}

div.form .form-field input {
  position: absolute;
  left: 100px;
}

div.form .form-field input.invalid {
  border: 2px solid red;
}

div.form div.form-error-message {
  color: red;
  display: none;
}
